@import "./scss/colors.scss";
@import "./scss/fonts.scss";

@import "./scss/header.scss";
@import "./scss/filters.scss";
@import "./scss/card-item.scss";
@import "./scss/stages.scss";
@import "./scss/slider.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope-Regular", sans-serif;
}

.container{
    width: 50vw;
    margin: 0 auto;
}

.section-title{
    margin: 20px 0 10px 0;
    font-size: 25px;
    font-weight: 700;
}