@import "./scss/colors.scss";
@import "./scss/fonts.scss";
@import "./scss/buttons.scss";

//index.html
@import "./scss/header.scss";
@import "./scss/filters.scss";
@import "./scss/card-item.scss";
@import "./scss/stages.scss";
@import "./scss/slider.scss";
@import "./scss/youtube.scss";
@import "./scss/advantages.scss";
@import "./scss/special_technique.scss";

//about.html
@import "./scss/abouts.scss";
@import "./scss/always.scss";
@import "./scss/contacts.scss";

//reviews.html
@import "./scss/accordion.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope-Regular", sans-serif;
}

.container{
    width: 55vw;
    margin: 0 auto;
}

.section-title{
    margin: 20px 0 10px 0;
    font-size: 25px;
    font-weight: 700;
}