.advantages-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;    
    padding: 0 60px;
    &__item{
        width: 240px;
        height: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 40px;
    }

    &__image{
        height: 100px;
    }

    &__description{
        font-size: 16px;
        margin-top: 10px;
        line-height: 22px;
    }
}