.button-main{
    width: 100px;
    min-height: 30px;
    border-radius: 7px;
    color: #FFF;
    background-color: $red;
    border: none;
    cursor: pointer;
    line-height: 11px;
    padding: 6px 0;
}