.slider {
    position: relative;
    width: 50vw;
    min-height: 160px;
    margin: 0 auto;
    overflow: hidden;
}

.slider__content {
    display: flex;
    gap: 10px;
    transition: transform 0.5s ease-in-out;
}

.slider__content-item {
    min-width: 100%; 
    border-radius: 10px;
    box-sizing: border-box;
    height: 140px;
    background: url("./assets/images/bonus_background.jpg") no-repeat center center/cover;
    overflow: hidden;
    display: flex;
}

.slider__dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.slider__dot-item {
    width: 10px;
    height: 10px;
    background-color: $light-grey;
    opacity: .3;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot-item-active {
    background-color: $red;
    opacity: .3;
}

.slider__main-image{
    width: 285px;
    img{
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}

.slider__information{
    margin-left: 40px;
    color: #FFF;
    margin-top: 10px;
    &-title{
        display: flex;
        align-items: center;
        line-height: 60px;
        .bonus{
            font-size: 50px;
            color: $red;
            text-transform: uppercase;
            font-weight: 800;
            margin-right: 10px;
        }
        span {
            display: block;
        }
        .subtext{
            line-height: 16px;
        }
    }
    &-description{
        font-size: 16px;
        margin-top: 7px;   
        line-height: 17px;
        width: 440px;
    }
}